body {
    font-family: Arial, sans-serif;
    
}
header {
    background-color: #f1f1f1;
    padding: 1em;
    text-align: center;
}
h1 {
    margin: 0;
}
p {
    margin: 1em;
}
footer {
    background-color: #f1f1f1;
    padding: 1em;
    margin-top: 1px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
#World {
    display: block;
    margin: 1em auto;
    padding: 0.5em;
    font-size: 1em;
}
#solve {
    margin: 1em auto;
    padding: 0.5em;
    padding-bottom: 10em;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
}

#Puzzle {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0.5em;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 80px;
    width: 70vb;
    height: 35vb;
    
}
#grid {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    align-content: center;
    background-color: gray;
    font-size: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
.world {
    text-align: center;
}
.button {
    border: 1px solid black;
    color: black;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}